<section class="form-add w-100 h-100 p-4">
    <h2 class="fw-bold text-center text-white display-3">
        Edit travel<br/>
    </h2>
    <form class="needs-validation" noValidate action="/admin/travels/edit" method="post"
    enctype="multipart/form-data">
        <input type="hidden" value="{{travel.id}}" name="id">
        <div class="form-floating mb-3">
            <input type="text" class="form-control fs-4" id="inputTitle" placeholder="Title" name="title" value="{{travel.title}}" required/>
            <label for="inputTitle" class="text-secondary fw-bold fs-6">Title</label>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <div class="mb-3">
            <label for="inputImg" class="text-secondary bg-white fw-bold fs-6 rounded p-1 mb-1">Image</label>
            <input type="file" class="form-control fs-4" id="inputImg" name="img"/>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <div class="mb-3">
            <input type="checkbox" class="fs-4" id="imgDelete" name="delete_img" value="1"/>
            <label for="imgDelete" class="text-secondary bg-white fw-bold fs-6 rounded p-1 mb-1">Delete current image?</label>
            <input type="hidden" name="original_img" value="{{travel.img_id}}">
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control fs-4" id="inputPage" placeholder="Page ID" name="page_fk" value="{{travel.page_fk}}" required/>
            <label for="inputPage" class="text-secondary fw-bold fs-6">Page ID (FK)</label>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control fs-4" id="inputDates" placeholder="Dates" name="dates" value="{{travel.dates}}" required/>
            <label for="inputDates" class="text-secondary fw-bold fs-6">Dates</label>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control fs-4" id="inputAssets" placeholder="Assets" name="assets" value="{{travel.assets}}" required/>
            <label for="inputAssets" class="text-secondary fw-bold fs-6">Assets</label>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control fs-4" id="inputExtras" placeholder="Extras" name="extras" value="{{travel.extras}}"/>
            <label for="inputExtras" class="text-secondary fw-bold fs-6">Extras</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control fs-4" id="inputHotel" placeholder="Hotel" name="hotel" value="{{travel.hotel}}" required/>
            <label for="inputHotel" class="text-secondary fw-bold fs-6">Hotel</label>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control fs-4" id="inputPrice" placeholder="Price" name="price" value="{{travel.price}}" required/>
            <label for="inputPrice" class="text-secondary fw-bold fs-6">Price</label>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <button type="submit" class="btn fs-4 text-white fw-bold">Edit travel</button>
        <a href="/admin/travels" class="btn fs-4 text-white fw-bold">
            <i class="fa fa-times"></i> Cancel
        </a>
    </form>
    {{#if error}}
        <small class="fs-5 fw-bold" style="color: red;">{{message}}</small>
    {{/if}}
</section>